<template id="About">
    <div class="perfiles">
        <h2>About Us</h2>
        <div class="perfil">
            <h3>Ignacio Pallares</h3>
            <figure>
                <img src="./assets/IgnacioPallares.png" alt="Foto Ignacio Pallarés">
            </figure>
            <h4>
                Ignacio Pallarés es Ingeniero Informático. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, perferendis debitis, sequi veritatis iste non vero, nesciunt ea quisquam nihil necessitatibus in dolorem consequuntur laborum. Fugit reiciendis harum doloribus architecto?
            </h4>
            <div class="social">
                <h4><a href="mailto: david.gonzalez@babel.es"><i class="fa fa-envelope" alt ="david.gonzalez@babel.es"></i></a>
                <h4><a href="https://www.linkedin.com/in/ignacio-pallar%C3%A9s-jim%C3%A9nez-393358157/"> <i class="fa fa-linkedin"></i></a></h4>
            </div>
        </div>
        <div class="perfil">
            <h3>Ángel Martín</h3>
            <figure>
                <img src="./assets/AngelMartin.png" alt="Foto Ángel Martín">
            </figure>
            <h4>
                Ángel Martín es Ingeniero Informático. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eius, autem quasi, quibusdam aut nemo in quidem possimus ullam accusantium blanditiis. Exercitationem eveniet dolorem esse eligendi rerum optio quaerat mollitia.
            </h4>
        </div>
        <div class="perfil">
                <h3>David González</h3>
                <figure>
                    <img src="./assets/DavidGonzalez.png" alt="Foto David González">
                </figure>
                <h4>
                    David González es Ingeniero de Telecomunicaciones. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolore nostrum eaque numquam, repellendus aliquid culpa? Quod, et eius itaque vero modi, natus dolor inventore sunt dolores saepe omnis suscipit.
                </h4>
                
        </div>
    </div>
</template>