<template id="Form">
    <h3 id="showNombre"></h3>
    <h3 id="showEmail"></h3>
    <h3 id="showPreferencia"></h3>
    <textarea id="showComentario">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati architecto, ipsa modi tempore eligendi veritatis odio nulla saepe consequatur sint maxime eius soluta neque ea, incidunt optio! Cumque, vero quidem!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam recusandae quos sapiente totam nihil veritatis, exercitationem aspernatur earum aut asperiores, explicabo laudantium quia, veniam consequuntur rerum ipsa tempore nulla ab?
    </textarea>
</template>