<template id="LaPinilla">
    
        <h2>La Pinilla</h2>
        <figure class="fotoPlano">
            <img width="100%" src="./assets/plano_lapinilla.jpg" alt="Plano La Pinilla" title="Plano La Pinilla">
        </figure>
        <div class="FichaTiempo">
            <h2>Descripcion:</h2>
            <table class="pistas">
                <h3>Pistas Balizadas</h3>
                <tr>
                    <td>Numero de pistas</td>
                    <td>23</td>
                    <td>Kilómetros totales</td>
                    <td>15.57</td>
                </tr>
                <tr>
                    <td>Pista verdes</td>
                    <td>4</td>
                    <td>Pista azules</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Pista Rojas</td>
                    <td>13</td>
                    <td>Número de remontes</td>
                    <td>13</td>
                </tr>
            </table>
            <table class="precios">
                <h3>Precios de los Forfaits</h3>
                <tr>
                    <td>Numero de días</td>
                    <td>Temporada Alta</td>
                    <td>Temporada Baja</td>
                </tr>
                <tr>
                    <td>1 día</td>
                    <td>35€</td>
                    <td>26€</td>
                </tr>
                <tr>
                    <td>2 días</td>
                    <td>65€</td>
                    <td>48€</td>
                </tr>
                <tr>
                    <td>5 días</td>
                    <td>140€</td>
                    <td>89€</td>
                </tr>
            </table>

            <div id="c_0321228eb548551524272e931262a3d1" class="completo"></div>
            <script type="text/javascript" src="https://www.eltiempo.es/widget/widget_loader/0321228eb548551524272e931262a3d1"></script>
        </div>
  
</template>