<template id="PuertoDeNavacerrada">
        <h2>Puerto de Navacerrada</h2>
        <figure class="fotoPlano">
            <img src="./assets/plano_navacerrada.jpg" alt="Plano Navacerrada" title="Plano Navacerrada">
        </figure>
        <div class="FichaTiempo">
            <h2>Descripcion:</h2>
            <table class="pistas">
                <h3>Pistas Balizadas<i class="material-icons" style="font-size:36px">ac_unit</i></i</h3>
                <tr>
                    <td>Numero de pistas</td>
                    <td>8</td>
                    <td>Kilómetros totales</td>
                    <td>6,2</td>
                </tr>
                <tr>
                    <td>Pista verdes</td>
                    <td>1</td>
                    <td>Pista azules</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Pista Rojas</td>
                    <td>1</td>
                    <td>Número de remontes</td>
                    <td>7</td>
                </tr>
            </table>
            <table class="precios">
                <h3>Precios de los Forfaits <i class="fa fa-cc-visa"></i></h3>
                <tr>
                    <td>Numero de días</td>
                    <td>Temporada Alta</td>
                    <td>Temporada Baja</td>
                </tr>
                <tr>
                    <td>1 día</td>
                    <td>27€</td>
                    <td>27€</td>
                </tr>
                <tr>
                    <td>2 días</td>
                    <td>-€</td>
                    <td>-€</td>
                </tr>
                <tr>
                    <td>5 días</td>
                    <td>-€</td>
                    <td>-€</td>
                </tr>
            </table>
    
        </div>

</template>