<template id="SierraDeBejar">
    <article>
    <div class="template_pista">
        <h2>Sierra de Béjar</h2>
        
        <div class="FichaTiempo">
            <h2>Descripcion:</h2>
            <table class="pistas">
                <h3>Pistas Balizadas<i class="material-icons" style="font-size:36px">ac_unit</i></i</h3>
                <tr>
                    <td>Numero de pistas</td>
                    <td>24</td>
                    <td>Kilómetros totales</td>
                    <td>20,29</td>
                </tr>
                <tr>
                    <td>Pista verdes</td>
                    <td>3</td>
                    <td>Pista azules</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Pista Rojas</td>
                    <td>15</td>
                    <td>Número de remontes</td>
                    <td>4</td>
                </tr>
            </table>
            <table class="precios">
                <h3>Precios de los Forfaits <i class="fa fa-cc-visa"></i></h3>
                <tr>
                    <td>Numero de días</td>
                    <td>Temporada Alta</td>
                    <td>Temporada Baja</td>
                </tr>
                <tr>
                    <td>1 día</td>
                    <td>29€</td>
                    <td>20€</td>
                </tr>
                <tr>
                    <td>2 días</td>
                    <td>54€</td>
                    <td>-€</td>
                </tr>
                <tr>
                    <td>5 días</td>
                    <td>-€</td>
                    <td>-€</td>
                </tr>
            </table>
        </div>
        <figure class="fotoPlano">
                <img  src="./assets/plano_sierra_bejar.jpg" alt="Plano Bejar" title="Plano Sierra de Bejar">
        </figure>
    </div>
    </article>
    <article class="article_2">
            <h2>Información adicional:</h2>
            <h3>
                    La Sierra de Béjar es de una de las comarcas con mayor sentido histórico-tradicional, 
                    geográfico y cultural de la provincia de Salamanca, en Castilla y León, España,1​2​ aunque sus límites no se corresponden con una división administrativa. Su parte más elevada hace de límite con las provincias de Ávila y Cáceres por lo que en las comarcas cacereñas del Valle del Jerte y el Valle del Ambroz así como en la abulense del Alto Tormes también se usa el topónimo Sierra de Béjar para referirse a las vertientes de esta sierra en dichas provincias.
            </h3>
        </article> 
    
</template>