<template id="Valdesqui">
        <h2>Valdesqui</h2>
        <figure class="fotoPlano">
            <img width="100%" src="./assets/plano_valdesqui.jpg" alt="Plano Valdesqui" title="Plano Estación Valdesqui">
        </figure>
        <div class="FichaTiempo">
            <h2>Descripcion:</h2>
            <table class="pistas">
                <h3>Pistas Balizadas</h3>
                <tr>
                    <td>Numero de pistas</td>
                    <td>26</td>
                    <td>Kilómetros totales</td>
                    <td>22,24</td>
                </tr>
                <tr>
                    <td>Pista verdes</td>
                    <td>8</td>
                    <td>Pista azules</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>Pista Rojas</td>
                    <td>4</td>
                    <td>Número de remontes</td>
                    <td>15</td>
                </tr>
            </table>
            <table class="precios">
                <h3>Precios de los Forfaits <i class="fa fa-cc-visa"></i></h3>
                <tr>
                    <td>Numero de días</td>
                    <td>Temporada Alta</td>
                    <td>Temporada Baja</td>
                </tr>
                <tr>
                    <td>1 día</td>
                    <td>38€</td>
                    <td>32€</td>
                </tr>
                <tr>
                    <td>2 días</td>
                    <td>-€</td>
                    <td>-€</td>
                </tr>
                <tr>
                    <td>5 días</td>
                    <td>-€</td>
                    <td>-€</td>
                </tr>
            </table>
        </div>
</template>