<template id="Valdesqui">
    <article>
        <div class="template_pista">
        <h2>Valdesqui</h2>
        
        <div class="FichaTiempo">
            <h2>Descripcion:</h2>
            <table class="pistas">
                <h3>Pistas Balizadas<i class="material-icons" style="font-size:36px">ac_unit</i></i</h3>
                <tr>
                    <td>Numero de pistas</td>
                    <td>26</td>
                    <td>Kilómetros totales</td>
                    <td>22,24</td>
                </tr>
                <tr>
                    <td>Pista verdes</td>
                    <td>8</td>
                    <td>Pista azules</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>Pista Rojas</td>
                    <td>4</td>
                    <td>Número de remontes</td>
                    <td>15</td>
                </tr>
            </table>
            <table class="precios">
                <h3>Precios de los Forfaits <i class="fa fa-cc-visa"></i></h3>
                <tr>
                    <td>Numero de días</td>
                    <td>Temporada Alta</td>
                    <td>Temporada Baja</td>
                </tr>
                <tr>
                    <td>1 día</td>
                    <td>38€</td>
                    <td>32€</td>
                </tr>
                <tr>
                    <td>2 días</td>
                    <td>-€</td>
                    <td>-€</td>
                </tr>
                <tr>
                    <td>5 días</td>
                    <td>-€</td>
                    <td>-€</td>
                </tr>
            </table>
        </div>
        <figure class="fotoPlano">
                <img src="./assets/plano_valdesqui.jpg" alt="Plano Valdesqui" title="Plano Estación Valdesqui">
        </figure>
    </div>
    </article>
    <article class="article_2">
            <h2>Información adicional:</h2>
            <h3>
                    Valdesquí es una estación de esquí que está situada en la Sierra de Guadarrama 
                    (sierra perteneciente al Sistema Central), en la ladera norte de las montañas de la Bola del Mundo y el Cerro de Valdemartín. Se ubica en el término municipal de Rascafría, en el noroeste de la Comunidad de Madrid (España). A pesar de que su superficie esquiable de 220 hectáreas es pequeña si se la compara con otras de los Pirineos o los Alpes, es la más grande y transitada de toda la sierra y la Comunidad de Madrid. Tiene 22 km esquiables, 21 remontes, y acceso por carretera desde Segovia y Madrid. El ferrocarril de Cotos no llega hasta la estación, estando la estación de Cotos a 2,7 km.
            </h3>
        </article> 
</template>

