@import "./reset.css";

body{
    margin: 0px;
}

header {
    font-family: 'Pacifico', cursive;
    margin-left: 2%;
    margin-right: 2%;
    width: 94%;
    font-weight: bold;
    border: solid 2px black;
}

    header figure{
        width: 80px; 
        height: 80px;
        float: left;
    }   

    header h1{
        display: inline;
        font-size: 38px;
    }

    header p{
        margin-top: 2px;
    }


nav{
    font-family: 'Pragati Narrow', sans-serif;
    background-color: gainsboro;
    border: solid 1px black;
    margin: 0%;
    width: 100%;
    height: 50px;
}
    nav ul{
        
        margin-left: 2%;
        display: inline;
    }
    nav ul li{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 28px;
        display: inline;
        border: solid 1px black;
        background-color: lightblue;
    }
    nav ul li ul{
        display: none;
        position: absolute; /*Posición sobre el raiz*/
        min-width: 140px;
    }
    nav li:hover > ul{ /*sub ul se coloca debajo cuando se pasa el ratón por encima*/
        display: block;
    }
    nav ul li:hover{
        background-color: red;
    }
    nav ul li ul li{
        position: relative;
        font-size: 25px;
        display: block;
    }
    nav a{
        margin: 10px;
        padding: 10px;
    }

aside {
    margin-top: 6px;
    margin-right: 2%;
    border: solid black 2px;
    float: right;
    width: 300px;
}

    aside figure{
        float: left;
        margin: 0px;
        width: 273px;
        height: 273px;
    }

.templates {

    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    font-family: 'Titillium Web', sans-serif;


}

    .templates figure{
        width: 40%;
        height: 30%;
        float: right;
        min-width: 300px;
        min-height: 200px;
    }

    .templates figure img{
        border-radius: 84px 84px 84px 84px;
        -moz-border-radius: 84px 84px 84px 84px;
        -webkit-border-radius: 84px 84px 84px 84px;
        border: 4px solid aqua;
        width: 100%;
        height: 100%;
    }

.infobox{
    width:auto; 
    line-height: 1.4em; 
    text-align:left; 
    padding:.23em;
}

.cabecera mapa{
    text-align:center;
    background-color:#996633;
    color:black;
    color:white;
}

.fondoclaro{
    text-align:left;
    background-color: #F7F3F1; 
    font-weight:bold;
    width:35%;
}

.fondooscuro{
    text-align:center;
    background-color: #e9d4ca;
}

.oculto{
    display: none;
}
.perfil{
    float: left;
    width: 33%;
    height: 80%;
    display: inline;
    border: 1px solid black;
}
.perfil img{
    width: 90%;
    height: 90%;
    max-width: 250px;
    max-height: 320px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;    
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.perfiles{
    overflow: scroll;
}

.eltiempo div{
    display: inline;
}